* {
  box-sizing: border-box;
  /* overflow: hidden; */
}

.dictionary-footer {
  text-align: center;
  font-size: 13px;
  /* color: #1f2937; */
  border-top: 1px solid rgb(249, 247, 254);
  padding: 40px 0px;
}